.cartsecreen{
    display :flex;
    max-width: 1300px;
    margin:2rem auto;
}
.cartsecreen h2 {
    margin-bottom: 1rem;
}
.cartsecreen-left{
    flex:0.7;
    margin-left: 1rem;
    background-color: transparent;
    padding: 1rem;
}

.cartsecreen-right{
    flex:0.3;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0, 0, 0.4);
    height: fit-content;
}

.cartsecreen-right div {
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    padding: 1rem;
}
.cartsecreen-right div :last-child{
    border: none;

}
.cartsecreen-info p {
    padding: 8px;

}
.cartsecreen-right div {
    border-bottom: 1px solid rgba(0,0, 0, 0.2);
    padding: 1rem;
}
.cartsecreen-right div:last-child {
    border: none;
}
.cartsecreen-info p{
    padding: 8px;
}
.cartsecreen-right div button{
    padding:10px 17px;
    width: 100%;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
     
}
.cartsecreen-right div button:hover{
    opacity: 0.9;
}
@media(max-width:1320px){
    .cartsecreen{
        max-width: 900px;
    }
}
@media(max-width:960px) {
    .cartsecreen {
        max-width: 800px;
        flex-direction: column;
    }
.cartsecreen-right{
      margin: 1rem;
    
}}