




.humburger-menu{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.humburger-menu > div{
    width: 100%;
    height: 3px;
    background-color: rgb(140, 18, 122);
}
.humburger-menu:hover>div{
    background-color: beige;
}
@media(max-width :960px ){
  
   .link{display: none;}
}
.humburger-menu{
    display: flex;
}